<a href="https://colab.research.google.com/github/hota15/Time-Series-stock-market-analysis/blob/main/SMA_tanisha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
df=pd.read_csv("TimeSeriesDataset.csv")
df.isnull().sum()

Unnamed: 0         0
Unnamed: 1         0
BDL                0
Unnamed: 3         0
Unnamed: 4         0
                ...
Unnamed: 996     254
Unnamed: 997     254
Unnamed: 998     254
Unnamed: 999     254
Unnamed: 1000    254
Length: 1001, dtype: int64

In [4]:
df.nunique()

Unnamed: 0       254
Unnamed: 1       228
BDL              241
Unnamed: 3       235
Unnamed: 4       246
                ...
Unnamed: 996       0
Unnamed: 997       0
Unnamed: 998       0
Unnamed: 999       0
Unnamed: 1000      0
Length: 1001, dtype: int64

In [5]:
df.index

RangeIndex(start=0, stop=254, step=1)

In [6]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'BDL', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'HAL', 'Unnamed: 9',
       ...
       'Unnamed: 991', 'Unnamed: 992', 'Unnamed: 993', 'Unnamed: 994',
       'Unnamed: 995', 'Unnamed: 996', 'Unnamed: 997', 'Unnamed: 998',
       'Unnamed: 999', 'Unnamed: 1000'],
      dtype='object', length=1001)